flows-doorbell.json
[{"id":"8654de3e3b461142","type":"group","z":"737d48f7.ce53a8","name":"","style":{"stroke":"#c8e7a7","fill":"#c8e7a7","label":true},"nodes":["7b41ba4b82cc0731","46ba0951a52cec25","539edd19da3776b0","0e0549bcfe02552b","2bccec5173efd14d","f7c1ab193a09cdf7","51e936f626575a32","c792b8c8d2c4859a","b942a6dfce9758d7","15cc12146786177e","8995bb5a631c9194","123540ae67978b52","14ac2a4822badb2c"],"x":119,"y":1274,"w":1779.407958984375,"h":514},{"id":"7b41ba4b82cc0731","type":"comment","z":"737d48f7.ce53a8","g":"8654de3e3b461142","name":"doorbell pressed","info":"","x":240,"y":1360,"wires":[]},{"id":"46ba0951a52cec25","type":"delay","z":"737d48f7.ce53a8","g":"8654de3e3b461142","name":"Limit 1/5s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":620,"y":1440,"wires":[["bcfd6a3941172468","7ae6419b55ba12db","4ee5ea86491df481","8995bb5a631c9194"]]},{"id":"539edd19da3776b0","type":"server-state-changed","z":"737d48f7.ce53a8","g":"8654de3e3b461142","name":"Doorbell Push","server":"cb3f250.e017dd8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.doorbell_button","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":241,"y":1461,"wires":[["0e0549bcfe02552b"]]},{"id":"0e0549bcfe02552b","type":"switch","z":"737d48f7.ce53a8","g":"8654de3e3b461142","name":"on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":415,"y":1461,"wires":[["46ba0951a52cec25","14ac2a4822badb2c"],["123540ae67978b52"]]},{"id":"2bccec5173efd14d","type":"inject","z":"737d48f7.ce53a8","g":"8654de3e3b461142","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":620,"y":1320,"wires":[["bcfd6a3941172468","7ae6419b55ba12db"]]},{"id":"f7c1ab193a09cdf7","type":"comment","z":"737d48f7.ce53a8","g":"8654de3e3b461142","name":"snap,record, notify & google cast","info":"","x":310,"y":1400,"wires":[]},{"id":"51e936f626575a32","type":"group","z":"737d48f7.ce53a8","g":"8654de3e3b461142","name":"","style":{"stroke":"#92d04f","fill":"#92d04f","label":true},"nodes":["8323ab8e8bf758fe","f66b86ee19e3cd6d","96d3225083b95c66","e09e67e7c418e243","0aabe80d495fae73","d0e0c8706a745294","a1aa3bff9ac43a21"],"x":1239.4955444335938,"y":1310.9999904632568,"w":632.9124145507812,"h":238.00001335144043},{"id":"8323ab8e8bf758fe","type":"api-call-service","z":"737d48f7.ce53a8","g":"51e936f626575a32","name":"Notify My Phone","server":"cb3f250.e017dd8","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_shafuans_iphone","entityId":"","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1751,"y":1401,"wires":[[]]},{"id":"f66b86ee19e3cd6d","type":"change","z":"737d48f7.ce53a8","g":"51e936f626575a32","name":"Doorbell pressed","rules":[{"t":"set","p":"windowName","pt":"msg","to":"Someone presses the Doorbell","tot":"str"},{"t":"set","p":"image","pt":"msg","to":"https://XXXX.duckdns.org/local/snapshots/camera_gate_latest.jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1517.0000457763672,"y":1351.9999904632568,"wires":[["96d3225083b95c66","0aabe80d495fae73"]]},{"id":"96d3225083b95c66","type":"function","z":"737d48f7.ce53a8","g":"51e936f626575a32","name":"Data","func":"msg.payload = \n{\n  \"data\": {\n    \"title\": \"Salam Shafuan\",\n    \"message\": msg.windowName,\n    \"data\": {\n      \"subtitle\": \"Open Gate?\",\n      \"push\": {\n        \"badge\": 1,\n        \"category\": \"open_close_gate\",\n        \"sound\": {\n          \"name\": \"doorbell-2.wav\",\n          \"critical\": 1,\n          \"volume\": 1.0\n        }\n      },\n      \"attachment\": {\n        \"url\": msg.image,\n        \"content-type\": \"jpeg\",\n        \"hide-thumbnail\": false\n      }\n    }\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1718.9998779296875,"y":1354,"wires":[["8323ab8e8bf758fe"]]},{"id":"e09e67e7c418e243","type":"delay","z":"737d48f7.ce53a8","g":"51e936f626575a32","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1325.4955444335938,"y":1352.8888893127441,"wires":[["f66b86ee19e3cd6d"]]},{"id":"0aabe80d495fae73","type":"function","z":"737d48f7.ce53a8","g":"51e936f626575a32","name":"Data","func":"msg.payload = \n{\n  \"data\": {\n    \"message\": msg.windowName,\n    \"title\": \"Someone presses Doorbell\",\n    \"data\": {\n      \"actions\": [\n        {\n          \"action\": \"TRIGGER_GATE\",\n          \"title\": \"OPEN GATE\"\n        }\n      ],\n      \"image\": msg.image\n    }\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1717.703857421875,"y":1465.0000038146973,"wires":[["d0e0c8706a745294"]]},{"id":"d0e0c8706a745294","type":"api-call-service","z":"737d48f7.ce53a8","g":"51e936f626575a32","name":"Notify Phone Wife","server":"cb3f250.e017dd8","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_galaxy_s20","entityId":"","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1756.407958984375,"y":1508.0000038146973,"wires":[[]]},{"id":"a1aa3bff9ac43a21","type":"comment","z":"737d48f7.ce53a8","g":"51e936f626575a32","name":"notify","info":"","x":1321,"y":1401,"wires":[]},{"id":"c792b8c8d2c4859a","type":"group","z":"737d48f7.ce53a8","g":"8654de3e3b461142","name":"","style":{"stroke":"#92d04f","fill":"#92d04f","label":true},"nodes":["6a632133499629c8","9708d77c53b6d7d1","b368dee8d3b0273a","8b6f328617382e3c","234f901aa73f6583","5fe3ef60c6e99965","a46c8967b840d740","655d6faa65d655f1","5ab0029af6b4188e"],"x":785,"y":1560,"w":1072,"h":202},{"id":"6a632133499629c8","type":"api-call-service","z":"737d48f7.ce53a8","g":"c792b8c8d2c4859a","name":"Flood Light","server":"cb3f250.e017dd8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.flood_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1761,"y":1641,"wires":[[]]},{"id":"9708d77c53b6d7d1","type":"switch","z":"737d48f7.ce53a8","g":"c792b8c8d2c4859a","name":"on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1481,"y":1649,"wires":[["8b6f328617382e3c","6a632133499629c8"],["8b6f328617382e3c"]]},{"id":"b368dee8d3b0273a","type":"time-range-switch","z":"737d48f7.ce53a8","g":"c792b8c8d2c4859a","name":"","lat":"","lon":"","startTime":"19:30","endTime":"00:00","startOffset":0,"endOffset":0,"x":1234,"y":1656,"wires":[["9708d77c53b6d7d1"],[]]},{"id":"8b6f328617382e3c","type":"trigger","z":"737d48f7.ce53a8","g":"c792b8c8d2c4859a","name":"trigger","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"20","extend":false,"overrideDelay":false,"units":"s","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":1496,"y":1697,"wires":[["234f901aa73f6583"]]},{"id":"234f901aa73f6583","type":"api-call-service","z":"737d48f7.ce53a8","g":"c792b8c8d2c4859a","name":"Flood Light","server":"cb3f250.e017dd8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.flood_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1756,"y":1697,"wires":[[]]},{"id":"5fe3ef60c6e99965","type":"delay","z":"737d48f7.ce53a8","g":"c792b8c8d2c4859a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":931,"y":1641,"wires":[["b368dee8d3b0273a"]]},{"id":"a46c8967b840d740","type":"comment","z":"737d48f7.ce53a8","g":"c792b8c8d2c4859a","name":"auto on/off gate light @7:30pm-12am if doorbell pressed","info":"","x":1051,"y":1721,"wires":[]},{"id":"655d6faa65d655f1","type":"link in","z":"737d48f7.ce53a8","g":"c792b8c8d2c4859a","name":"","links":["123540ae67978b52"],"x":826,"y":1641,"wires":[["5fe3ef60c6e99965"]]},{"id":"5ab0029af6b4188e","type":"link in","z":"737d48f7.ce53a8","g":"c792b8c8d2c4859a","name":"","links":["14ac2a4822badb2c"],"x":1186,"y":1601,"wires":[["b368dee8d3b0273a"]]},{"id":"b942a6dfce9758d7","type":"group","z":"737d48f7.ce53a8","g":"8654de3e3b461142","name":"","style":{"stroke":"#92d04f","fill":"#92d04f","label":true},"nodes":["be78b886f21ba124","6ae9bb167cdd132e","4b3382ee3bd592d6","3a2b3e8470f6b45e"],"x":145,"y":1560,"w":612,"h":121},{"id":"be78b886f21ba124","type":"delay","z":"737d48f7.ce53a8","g":"b942a6dfce9758d7","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":311,"y":1601,"wires":[["6ae9bb167cdd132e"]]},{"id":"6ae9bb167cdd132e","type":"api-call-service","z":"737d48f7.ce53a8","g":"b942a6dfce9758d7","name":"","server":"cb3f250.e017dd8","version":3,"debugenabled":false,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.living_room_speaker","data":"{\"message\":\"Ding Dong! Someone pressed the doorbell!\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":611,"y":1601,"wires":[[]]},{"id":"4b3382ee3bd592d6","type":"comment","z":"737d48f7.ce53a8","g":"b942a6dfce9758d7","name":"google cast","info":"","x":250,"y":1640,"wires":[]},{"id":"3a2b3e8470f6b45e","type":"link in","z":"737d48f7.ce53a8","g":"b942a6dfce9758d7","name":"","links":["8995bb5a631c9194"],"x":186,"y":1601,"wires":[["be78b886f21ba124"]]},{"id":"15cc12146786177e","type":"group","z":"737d48f7.ce53a8","g":"8654de3e3b461142","name":"","style":{"stroke":"#92d04f","fill":"#92d04f","label":true},"nodes":["7ae6419b55ba12db","bcfd6a3941172468","4ee5ea86491df481","2225514de7731fcf"],"x":819.2185440063477,"y":1300,"w":397.78145599365234,"h":241.02761840820312},{"id":"7ae6419b55ba12db","type":"api-call-service","z":"737d48f7.ce53a8","g":"15cc12146786177e","name":"camera.snapshot_timestamp","server":"cb3f250.e017dd8","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.camera_gate","data":"{\"filename\":\"/config/www/snapshots/{{ entity_id.name }}_{{ now().strftime(\\\"%d-%m-%Y %H.%M.%S\\\") }}.jpg\"}","dataType":"json","mergecontext":"","mustacheAltTags":true,"outputProperties":[],"queue":"none","x":971,"y":1441,"wires":[[]]},{"id":"bcfd6a3941172468","type":"api-call-service","z":"737d48f7.ce53a8","g":"15cc12146786177e","name":"camera.snapshot_latest","server":"cb3f250.e017dd8","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.camera_gate","data":"{\"filename\":\"/config/www/snapshots/{{ entity_id.name }}_latest.jpg\"}","dataType":"json","mergecontext":"","mustacheAltTags":true,"outputProperties":[],"queue":"none","x":955.2185440063477,"y":1384.0277814865112,"wires":[["e09e67e7c418e243"]]},{"id":"4ee5ea86491df481","type":"api-call-service","z":"737d48f7.ce53a8","g":"15cc12146786177e","name":"camera.record_timestamp","server":"cb3f250.e017dd8","version":3,"debugenabled":false,"service_domain":"camera","service":"record","entityId":"camera.camera_gate","data":"{\"filename\":\"/config/www/records/{{ entity_id.name }}_{{ now().strftime(\\\"%d-%m-%Y %H.%M.%S\\\") }}_doorbell.mp4\",\"duration\":\"10\"}","dataType":"json","mergecontext":"","mustacheAltTags":true,"outputProperties":[],"queue":"none","x":964.3228149414062,"y":1500.0276184082031,"wires":[[]]},{"id":"2225514de7731fcf","type":"comment","z":"737d48f7.ce53a8","g":"15cc12146786177e","name":"snap & record 10sec video & stored in folder","info":"","x":1021,"y":1341,"wires":[]},{"id":"8995bb5a631c9194","type":"link out","z":"737d48f7.ce53a8","g":"8654de3e3b461142","name":"","links":["3a2b3e8470f6b45e"],"x":655,"y":1480,"wires":[]},{"id":"123540ae67978b52","type":"link out","z":"737d48f7.ce53a8","g":"8654de3e3b461142","name":"","links":["655d6faa65d655f1"],"x":575,"y":1480,"wires":[]},{"id":"14ac2a4822badb2c","type":"link out","z":"737d48f7.ce53a8","g":"8654de3e3b461142","name":"","links":["5ab0029af6b4188e"],"x":575,"y":1400,"wires":[]},{"id":"cb3f250.e017dd8","type":"server","name":"Home Assistant","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]