flows-doorbell.json
[{"id":"4a78b6ef.20db28","type":"group","z":"737d48f7.ce53a8","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["363809e.66ec1f6","3061723f.b5428e","63cfd475.19f83c","bb9b366d.600768","61632104.89ea8","651298fc.e91f98","46822086.a0b49","d30807e1.5e5478","807bd3c.139993","28e309e8.b0da66","72cce2a4.ddbf1c","6856395d.89e758","621133cb.fb72dc","fbdf0fe0.854ea","363fb960.ad5396","900ca8bc.48e548","d83050fc.2df3f","2cdae70a.e82f38","101f7d14.b931a3","26b839b5.69a236","c15f3d94.853f7","d880cc28.b0ea2","be1a05f571730547"],"x":14,"y":-1,"w":1575.296142578125,"h":362},{"id":"363809e.66ec1f6","type":"comment","z":"737d48f7.ce53a8","g":"4a78b6ef.20db28","name":"doorbell pressed","info":"","x":120,"y":40,"wires":[]},{"id":"3061723f.b5428e","type":"delay","z":"737d48f7.ce53a8","g":"4a78b6ef.20db28","name":"Limit 1/5s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":508,"y":112,"wires":[["bb9b366d.600768","101f7d14.b931a3","d83050fc.2df3f","26b839b5.69a236"]]},{"id":"63cfd475.19f83c","type":"server-state-changed","z":"737d48f7.ce53a8","g":"4a78b6ef.20db28","name":"Doorbell Push","server":"cb3f250.e017dd8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.doorbell_button","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":121,"y":141,"wires":[["807bd3c.139993"]]},{"id":"bb9b366d.600768","type":"delay","z":"737d48f7.ce53a8","g":"4a78b6ef.20db28","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800.0000610351562,"y":228.00001525878906,"wires":[["6856395d.89e758"]]},{"id":"61632104.89ea8","type":"api-call-service","z":"737d48f7.ce53a8","g":"4a78b6ef.20db28","name":"Flood Light","server":"cb3f250.e017dd8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.flood_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1335,"y":264,"wires":[[]]},{"id":"651298fc.e91f98","type":"switch","z":"737d48f7.ce53a8","g":"4a78b6ef.20db28","name":"on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1055,"y":272,"wires":[["d30807e1.5e5478","61632104.89ea8"],["d30807e1.5e5478"]]},{"id":"46822086.a0b49","type":"time-range-switch","z":"737d48f7.ce53a8","g":"4a78b6ef.20db28","name":"","lat":"","lon":"","startTime":"19:30","endTime":"00:00","startOffset":0,"endOffset":0,"x":808,"y":279,"wires":[["651298fc.e91f98"],[]]},{"id":"d30807e1.5e5478","type":"trigger","z":"737d48f7.ce53a8","g":"4a78b6ef.20db28","name":"trigger","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"20","extend":false,"overrideDelay":false,"units":"s","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":1070,"y":320,"wires":[["28e309e8.b0da66"]]},{"id":"807bd3c.139993","type":"switch","z":"737d48f7.ce53a8","g":"4a78b6ef.20db28","name":"on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":295,"y":141,"wires":[["3061723f.b5428e","46822086.a0b49"],["72cce2a4.ddbf1c"]]},{"id":"28e309e8.b0da66","type":"api-call-service","z":"737d48f7.ce53a8","g":"4a78b6ef.20db28","name":"Flood Light","server":"cb3f250.e017dd8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.flood_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1330,"y":320,"wires":[[]]},{"id":"72cce2a4.ddbf1c","type":"delay","z":"737d48f7.ce53a8","g":"4a78b6ef.20db28","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":512,"y":167,"wires":[["46822086.a0b49"]]},{"id":"6856395d.89e758","type":"api-call-service","z":"737d48f7.ce53a8","g":"4a78b6ef.20db28","name":"","server":"cb3f250.e017dd8","version":3,"debugenabled":false,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.living_room_speaker","data":"{\"message\":\"Ding Dong! Someone pressed the doorbell!\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1103.0001220703125,"y":219.00001525878906,"wires":[[]]},{"id":"621133cb.fb72dc","type":"inject","z":"737d48f7.ce53a8","g":"4a78b6ef.20db28","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":509.89581298828125,"y":62,"wires":[["101f7d14.b931a3","d83050fc.2df3f"]]},{"id":"fbdf0fe0.854ea","type":"api-call-service","z":"737d48f7.ce53a8","g":"4a78b6ef.20db28","name":"Notify Shafuan","server":"cb3f250.e017dd8","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_shafuans_iphone","entityId":"","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1483.296142578125,"y":95.99999618530273,"wires":[[]]},{"id":"363fb960.ad5396","type":"change","z":"737d48f7.ce53a8","g":"4a78b6ef.20db28","name":"Doorbell pressed","rules":[{"t":"set","p":"windowName","pt":"msg","to":"Someone presses the Doorbell","tot":"str"},{"t":"set","p":"image","pt":"msg","to":"https://mybukithome.duckdns.org/local/snapshots/camera_gate_latest.jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1249.2961883544922,"y":46.99998664855957,"wires":[["900ca8bc.48e548","c15f3d94.853f7"]]},{"id":"900ca8bc.48e548","type":"function","z":"737d48f7.ce53a8","g":"4a78b6ef.20db28","name":"Data","func":"msg.payload = \n{\n  \"data\": {\n    \"title\": \"Salam Shafuan\",\n    \"message\": msg.windowName,\n    \"data\": {\n      \"subtitle\": \"Open Gate?\",\n      \"push\": {\n        \"badge\": 1,\n        \"category\": \"open_close_gate\",\n        \"sound\": {\n          \"name\": \"doorbell-2.wav\",\n          \"critical\": 1,\n          \"volume\": 1.0\n        }\n      },\n      \"attachment\": {\n        \"url\": msg.image,\n        \"content-type\": \"jpeg\",\n        \"hide-thumbnail\": false\n      }\n    }\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1451.2960205078125,"y":48.999996185302734,"wires":[["fbdf0fe0.854ea"]]},{"id":"d83050fc.2df3f","type":"api-call-service","z":"737d48f7.ce53a8","g":"4a78b6ef.20db28","name":"camera.snapshot_timestamp","server":"cb3f250.e017dd8","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.camera_gate","data":"{\"filename\":\"/config/www/snapshots/{{ entity_id.name }}_{{ now().strftime(\\\"%d-%m-%Y %H.%M.%S\\\") }}.jpg\"}","dataType":"json","mergecontext":"","mustacheAltTags":true,"outputProperties":[],"queue":"none","x":851.6771850585938,"y":103.97238159179688,"wires":[[]]},{"id":"2cdae70a.e82f38","type":"delay","z":"737d48f7.ce53a8","g":"4a78b6ef.20db28","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1057.7916870117188,"y":47.888885498046875,"wires":[["363fb960.ad5396"]]},{"id":"101f7d14.b931a3","type":"api-call-service","z":"737d48f7.ce53a8","g":"4a78b6ef.20db28","name":"camera.snapshot_latest","server":"cb3f250.e017dd8","version":3,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.camera_gate","data":"{\"filename\":\"/config/www/snapshots/{{ entity_id.name }}_latest.jpg\"}","dataType":"json","mergecontext":"","mustacheAltTags":true,"outputProperties":[],"queue":"none","x":835.8957290649414,"y":47.000163078308105,"wires":[["2cdae70a.e82f38"]]},{"id":"26b839b5.69a236","type":"api-call-service","z":"737d48f7.ce53a8","g":"4a78b6ef.20db28","name":"camera.record_timestamp","server":"cb3f250.e017dd8","version":3,"debugenabled":false,"service_domain":"camera","service":"record","entityId":"camera.camera_gate","data":"{\"filename\":\"/config/www/records/{{ entity_id.name }}_{{ now().strftime(\\\"%d-%m-%Y %H.%M.%S\\\") }}_doorbell.mp4\",\"duration\":\"10\"}","dataType":"json","mergecontext":"","mustacheAltTags":true,"outputProperties":[],"queue":"none","x":845,"y":163,"wires":[[]]},{"id":"c15f3d94.853f7","type":"function","z":"737d48f7.ce53a8","g":"4a78b6ef.20db28","name":"Data","func":"msg.payload = \n{\n  \"data\": {\n    \"message\": msg.windowName,\n    \"title\": \"Someone presses Doorbell\",\n    \"data\": {\n      \"actions\": [\n        {\n          \"action\": \"TRIGGER_GATE\",\n          \"title\": \"OPEN GATE\"\n        }\n      ],\n      \"image\": msg.image\n    }\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1444,"y":156,"wires":[["d880cc28.b0ea2"]]},{"id":"d880cc28.b0ea2","type":"api-call-service","z":"737d48f7.ce53a8","g":"4a78b6ef.20db28","name":"Notify Hajar S20","server":"cb3f250.e017dd8","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_galaxy_s20","entityId":"","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1472.7041015625,"y":199,"wires":[[]]},{"id":"be1a05f571730547","type":"comment","z":"737d48f7.ce53a8","g":"4a78b6ef.20db28","name":"snap,record, notify & google cast","info":"","x":190,"y":80,"wires":[]},{"id":"cb3f250.e017dd8","type":"server","name":"Home Assistant","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]